/* Effective stylesheet produced by snapshot save */

*, *::before, *::after { border: 0px none; box-sizing: border-box; margin: 0px; outline: 0px none; padding: 0px; color: inherit; font: inherit; text-decoration: none; vertical-align: baseline; }
article, aside, details, dialog, figcaption, figure, footer, header, main, menu, nav, section { display: block; }
body { line-height: 1; }
br, hr { display: block; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
img { vertical-align: top; }
.clearfix::after { content: ""; display: block; clear: both; }
html { font-size: 100%; color: rgb(34, 34, 34); }
body { font-size: 12px; font-family: "游ゴシック体","Yu Gothic",YuGothic,Helvetica,Arial,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,sans-serif; line-height: 2; }
@media only screen and (min-width: 768px) {
  body { font-size: 14px; }
}
img { max-width: 100%; width: 100%; height: auto; vertical-align: bottom; }
img[src*="_pc."] { display: none; }
@media only screen and (min-width: 768px) {
  img[src*="_sp."] { display: none; }
  img[src*="_pc."] { display: inline; }
}
#wrap { overflow: hidden; }
@media only screen and (min-width: 768px) {
  #wrap { overflow: visible; }
}
a { color: rgb(34, 34, 34); text-decoration: underline; transition: all 0.25s ease 0s; }
a:hover { color: rgb(32, 216, 201); text-decoration: none; }
header { width: 100%; position: fixed; top: 0px; z-index: 100; }
@media only screen and (min-width: 768px) {
  header { position: relative; background: rgb(255, 255, 255) url("line.gif") repeat-x scroll center top / 317px auto; padding: 0px 48px; min-width: 1216px; }
}
header h1 { display: block; width: 183px; padding: 12px 0px; box-sizing: content-box; }
header h1 a::after { content: "写真と言葉に、てざわりを。"; font-size: 10px; font-weight: bold; position: absolute; bottom: -2em; left: 3px; letter-spacing: 1px; line-height: 1; white-space: nowrap; text-decoration: none; }
@media only screen and (min-width: 768px) {
  header h1 { width: 183px; margin: 0px auto; padding: 34px 0px 24px; }
  header h1 a::after { display: none; }
}
@media only screen and (min-width: 768px) {
  header p.photobook_web a::before { content: ""; width: 20px; height: 20px; border-radius: 50%; position: absolute; background: rgb(255, 242, 0) none repeat scroll 0% 0%; right: 0px; top: 50%; margin-top: -10px; transition: all 0.25s ease 0s; }
  header p.photobook_web a::after { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 3.5px 0px 3.5px 5px; border-color: transparent transparent transparent rgb(34, 34, 34); right: 7px; top: 50%; margin-top: -3px; transition: all 0.25s ease 0s; }
  header p.photobook_web a:hover::before { background: rgb(32, 216, 201) none repeat scroll 0% 0%; }
  header p.photobook_web a:hover::after { border-color: transparent transparent transparent rgb(255, 255, 255); }
}
header .inner { text-align: center; width: 100%; margin: 0px auto; position: relative; z-index: 100; padding-top: 8px; background: rgb(255, 255, 255) url("img/line.gif") repeat-x scroll center top / 317px auto; }
@media only screen and (min-width: 768px) {
  header .inner { width: 1120px; }
}
nav { position: fixed; background: rgb(230, 245, 237) none repeat scroll 0% 0%; padding-bottom: 50px; top: 0px; transform: translate(0px, -100%); transition: all 0.5s ease 0s; width: 100%; z-index: 99; }
@media only screen and (min-width: 768px) {
  nav { position: relative; padding: 0px; top: 0px; transform: translate(0px, 0px); background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; width: 1120px; margin: 0px auto; }
  nav::before { content: ""; width: 100%; height: 1px; background: rgb(34, 34, 34) none repeat scroll 0% 0%; position: absolute; z-index: 0; top: 15px; left: 0px; }
  nav::after { content: ""; width: 100%; height: 1px; background: rgb(34, 34, 34) none repeat scroll 0% 0%; position: absolute; z-index: 0; top: 19px; left: 0px; }
}
nav p { text-align: left; }
nav p + p { margin-top: 15px; }
@media only screen and (min-width: 768px) {
  nav p { display: none; }
}
nav p a { font-size: 14px; color: rgb(34, 34, 34); font-weight: bold; text-decoration: none; padding: 7px 20px 4px; line-height: 1; }
nav ul { overflow: hidden; padding: 30px 0px; display: block; line-height: 1; }
@media only screen and (min-width: 768px) {
  nav ul { width: 572px; margin: 0px auto; padding: 0px; text-align: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; z-index: 1; }
}
nav ul li { text-align: left; display: block; }
@media only screen and (min-width: 768px) {
  nav ul li { display: inline-block; margin: 0px 19px; }
  nav ul li:last-child a { position: relative; padding: 10px 38px 10px 0px; }
  nav ul li:last-child a::after { content: ""; background: rgb(255, 242, 0) url("icon_book.png") no-repeat scroll center center / cover ; width: 32px; height: 32px; border-radius: 50%; position: absolute; right: 0px; top: 0px; transition: all 0.25s ease 0s; }
  nav ul li:last-child a:hover::after { background: rgb(32, 216, 201) url("icon_book_on.png") no-repeat scroll center center / cover ; }
}
nav ul li a { font-size: 20px; text-decoration: none; font-family: "Lato","游ゴシック体","Yu Gothic",YuGothic,Helvetica,sans-serif; font-weight: bold; color: rgb(34, 34, 34); display: block; padding: 15px 20px; letter-spacing: 1px; }
@media only screen and (min-width: 768px) {
  nav ul li a { font-size: 14px; padding: 10px 0px; }
}
.sticky { display: none; }
@media only screen and (min-width: 768px) {
  .sticky { display: block; position: fixed; top: -80px; opacity: 0; left: 0px; padding-top: 12px; background: rgb(255, 255, 255) url("line.gif") repeat-x scroll center top / 317px auto; min-width: 1216px; width: 100%; height: 80px; overflow: hidden; transition: all 0.75s ease 0s; border-bottom: 1px solid rgb(34, 34, 34); z-index: 101; }
  .sticky .inner { min-width: 1216px; padding: 0px 48px; margin: 0px auto; }
  .sticky h5 { width: 137px; margin: 20px 0px 22px; float: left; }
  .sticky a { display: block; }
  .sticky ul { float: right; overflow: hidden; margin: 16px 0px 15px; display: block; line-height: 1; width: 572px; text-align: right; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; z-index: 1; }
  .sticky ul li { display: inline-block; margin: 0px 19px; }
  .sticky ul li:last-child a { position: relative; padding: 10px 38px 10px 0px; }
  .sticky ul li:last-child a::after { content: ""; background: rgb(255, 242, 0) url("icon_book.png") no-repeat scroll center center / cover ; width: 32px; height: 32px; border-radius: 50%; position: absolute; right: 0px; top: 0px; transition: all 0.25s ease 0s; }
  .sticky ul li:last-child a:hover::after { background: rgb(32, 216, 201) url("icon_book_on.png") no-repeat scroll center center / cover ; }
  .sticky ul li a { text-decoration: none; font-family: "Lato","游ゴシック体","Yu Gothic",YuGothic,Helvetica,sans-serif; font-weight: bold; color: rgb(34, 34, 34); display: block; font-size: 14px; padding: 0px; }
  .sticky ul li a:hover { color: rgb(32, 216, 201); }
  .sticky .discription { position: absolute; left: 210px; top: 23px; }
}
.btn-menu { transition: all 0.25s ease 0s; z-index: 20000; position: absolute; top: 24px; right: 12px; background: rgb(255, 242, 0) none repeat scroll 0% 0%; border-radius: 50%; cursor: pointer; display: block; width: 44px; height: 44px; }
.btn-menu > span { position: absolute; left: 0px; right: 0px; width: 18px; height: 2px; margin: 0px auto; background: rgb(0, 0, 0) none repeat scroll 0% 0%; border-radius: 2px; transition: all 0.25s ease 0s; }
.btn-menu > span:nth-child(1) { top: 15px; }
.btn-menu > span:nth-child(2) { top: 21px; }
.btn-menu > span:nth-child(3) { top: 27px; }
.btn-menu.on span:nth-child(1) { top: 21px; transform: rotate(45deg); }
.btn-menu.on span:nth-child(2) { opacity: 0; transform: rotate(90deg); }
.btn-menu.on span:nth-child(3) { top: 21px; transform: rotate(135deg); }
@media only screen and (min-width: 768px) {
  .btn-menu { display: none; }
}
main { margin-top: 80px; }
@media only screen and (min-width: 768px) {
  main { margin-top: 35px; }
}
@media only screen and (min-width: 768px) {
  section { padding: 0px 48px; min-width: 1216px; }
}
section .inner { width: 100%; }
@media only screen and (min-width: 768px) {
  section .inner { width: 1120px; margin: 0px auto; }
}
#pagetop { width: 44px; height: 44px; background: rgb(255, 242, 0) none repeat scroll 0% 0%; position: fixed; bottom: 12px; right: 12px; z-index: 102; border-radius: 50%; opacity: 0; transition: all 0.5s ease 0s; }
@media only screen and (min-width: 768px) {
  #pagetop { bottom: 16px; right: 16px; }
  #pagetop:hover { background: rgb(32, 216, 201) none repeat scroll 0% 0%; }
  #pagetop:hover a::after { border-color: transparent transparent rgb(255, 255, 255); }
}
#pagetop a { display: block; text-indent: 100%; white-space: nowrap; overflow: hidden; width: 44px; height: 44px; position: relative; }
#pagetop a::after { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 0px 8px 14px; border-color: transparent transparent rgb(34, 34, 34); position: absolute; top: 50%; left: 0px; right: 0px; margin: -8px auto 0px; transition: all 0.5s ease 0s; }
@media only screen and (min-width: 768px) {
  footer { min-width: 1216px; }
}
footer .other_box { text-align: center; background: rgb(238, 238, 238) none repeat scroll 0% 0%; padding: 40px 40px 10px; }
footer .other_box ul { overflow: hidden; margin-bottom: 25px; }
@media only screen and (min-width: 768px) {
  footer .other_box ul { text-align: center; margin-bottom: 30px; }
}
footer .other_box ul li { float: left; width: 48.58%; display: inline-block; margin-bottom: 2.84%; }
footer .other_box ul li:nth-child(2n) { margin-left: 2.84%; }
@media only screen and (min-width: 768px) {
  footer .other_box ul li { float: none; width: 216px; margin: 0px 3px; }
  footer .other_box ul li:nth-child(2n) { margin-left: 3px; }
}
.icn_c_arrow { position: relative; padding-right: 25px; }
.icn_c_arrow::before { content: ""; width: 20px; height: 20px; border-radius: 50%; position: absolute; background: rgb(255, 242, 0) none repeat scroll 0% 0%; right: 0px; top: 50%; margin-top: -10px; transition: all 0.25s ease 0s; }
.icn_c_arrow::after { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 3.5px 0px 3.5px 5px; border-color: transparent transparent transparent rgb(34, 34, 34); right: 7px; top: 50%; margin-top: -3px; transition: all 0.25s ease 0s; }
@media only screen and (min-width: 768px) {
  .icn_c_arrow { padding-right: 30px; }
  .icn_c_arrow::before { width: 24px; height: 24px; margin-top: -13px; }
  .icn_c_arrow::after { border-width: 5px 0px 5px 7px; margin-top: -6px; }
  .icn_c_arrow:hover { color: rgb(34, 34, 34); }
  .icn_c_arrow:hover::before { background: rgb(32, 216, 201) none repeat scroll 0% 0%; }
  .icn_c_arrow:hover::after { border-color: transparent transparent transparent rgb(255, 255, 255); }
}
.icn_arrows::before { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 7px 0px 7px 10px; border-color: transparent transparent transparent rgb(255, 242, 0); right: 0px; top: 50%; margin-top: -7px; }
.icn_arrows::after { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 7px 0px 7px 10px; border-color: transparent transparent transparent rgb(255, 242, 0); right: 14px; top: 50%; margin-top: -7px; }
.icn_arrows span::before { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 7px 0px 7px 10px; border-color: transparent transparent transparent rgb(255, 242, 0); right: 27px; top: 50%; margin-top: -7px; }
.btn a::before { content: ""; width: 20px; height: 20px; border-radius: 50%; position: absolute; background: rgb(255, 255, 255) none repeat scroll 0% 0%; right: 14px; top: 50%; margin-top: -10px; }
.btn a::after { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 4px 0px 4px 6px; border-color: transparent transparent transparent rgb(0, 0, 0); right: 21px; top: 50%; margin-top: -3px; }
@media only screen and (min-width: 768px) {
  .btn a::before { width: 24px; height: 24px; margin-top: -13px; }
  .btn a::after { border-width: 5px 0px 5px 7px; margin-top: -6px; }
}
.headline { padding: 0px 20px; line-height: 1; font-size: 21px; font-weight: bold; }
@media only screen and (min-width: 768px) {
  .headline { font-size: 25px; }
}
.headline span { font-family: "Lato","游ゴシック体","Yu Gothic",YuGothic,Helvetica,sans-serif; border: 1px solid rgb(34, 34, 34); display: inline-block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 9px 8px 6px; box-shadow: 4px 4px 0px rgb(34, 34, 34); margin-bottom: 11px; }
.budge::before { z-index: 4; content: ""; width: 72px; height: 72px; border-radius: 50%; position: absolute; background: rgb(32, 216, 201) none repeat scroll 0% 0%; left: 50%; top: 0px; }
.budge::after { z-index: 4; content: attr(data-text); width: 72px; height: 72px; padding: 22px 10px; text-align: center; position: absolute; line-height: 1.3; left: 50%; top: 0px; color: rgb(255, 255, 255); letter-spacing: 1px; font-family: "Cabin Sketch",cursive; font-size: 13px; }
@media only screen and (min-width: 768px) {
  .budge::before { width: 88px; height: 88px; }
  .budge::after { font-size: 16px; width: 88px; height: 88px; padding: 26px 13px; }
}
.first { background: rgb(255, 255, 255) url("urn:not-loaded:file:///C:/Users/Administrator/Desktop/Girls%20Coding%20Days/Website_example/%E3%80%8CPhotoZINE%EF%BC%88%E3%83%95%E3%82%A9%E3%83%88%E3%82%B8%E3%83%B3%EF%BC%89%E3%80%8D%E3%81%A7%E3%82%A2%E3%83%AB%E3%83%90%E3%83%A0%E3%83%BB%E4%BD%9C%E5%93%81%E9%9B%86%E4%BD%9C%E3%82%8A%EF%BD%9C%E3%83%95%E3%82%B8%E3%83%95%E3%82%A4%E3%83%AB%E3%83%A0%E3%81%AE%E3%83%95%E3%82%A9%E3%83%88%E3%83%96%E3%83%83%E3%82%AF_files/line_8.gif") repeat-x scroll center bottom / 317px auto; padding-bottom: 8px; }
@media only screen and (min-width: 768px) {
  .first { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 0px 0px 27px; position: relative; }
  .first img { width: 70%; border: 0 none;}
  .first .inner { width: 70%; }
  .first .main_copy { left: 50%; bottom: 88px; margin-left: 120px; position: absolute; }
}
@media only screen and (min-width: 1216px) {
  .first .main_copy { bottom: 7vw; }
}
@media only screen and (min-width: 1920px) {
  .first .inner { width: 1920px; margin: 0px auto; }
}
.first h2 { position: absolute; transform: translate(0px, -100%); margin-top: -33px; font-size: 20px; }
.first h2 span { padding-right: 0px; }
@media only screen and (min-width: 768px) {
  .first h2 { position: relative; font-size: 24px; transform: translate(0px, 0px); margin-top: 0px; margin-bottom: 20px; padding: 0px; }
  .first h2 span { margin: 0px; padding: 9px 0px 9px 8px; }
}
.first h6 { padding: 20px 20px 10px; font-size: 18px; font-weight: bold; }
@media only screen and (min-width: 768px) {
  .first h6 { padding: 0px 0px 10px; font-size: 20px; }
}
.first p { padding: 0px 20px 30px; }
@media only screen and (min-width: 768px) {
  .first p { width: 440px; padding: 0px; }
}
.news::after { content: "NEWS"; font-family: "Lato","游ゴシック体","Yu Gothic",YuGothic,Helvetica,sans-serif; line-height: 1; top: 21px; left: 20px; position: absolute; font-size: 15px; font-weight: bold; }
@media only screen and (min-width: 768px) {
  .news::after { top: 4px; left: 50px; font-size: 20px; }
}
@media only screen and (min-width: 768px) {
  .news a::before { content: ""; width: 20px; height: 20px; border-radius: 50%; position: absolute; background: rgb(255, 242, 0) none repeat scroll 0% 0%; right: 0px; top: 50%; margin-top: -10px; transition: all 0.25s ease 0s; }
  .news a::after { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 3.5px 0px 3.5px 5px; border-color: transparent transparent transparent rgb(34, 34, 34); right: 7px; top: 50%; margin-top: -3px; transition: all 0.25s ease 0s; }
  .news a:hover::before { background: rgb(32, 216, 201) none repeat scroll 0% 0%; }
  .news a:hover::after { border-color: transparent transparent transparent rgb(255, 255, 255); }
}
#bnr a::before { display: none; }
#bnr a::after { display: none; }
#about p:not(.btn) { padding: 0px 20px 15px; }
@media only screen and (min-width: 768px) {
  #about p:not(.btn) { padding-left: 0px; }
}
@media only screen and (min-width: 768px) {
  #service::after { content: ""; height: 1px; position: relative; top: 137px; left: 48px; right: 48px; z-index: 0; }
}
.magazine.budge::before { margin-top: 77px; margin-left: 25%; }
.magazine.budge::after { margin-top: 77px; margin-left: 25%; }
@media only screen and (min-width: 768px) {
  .magazine.budge::before { margin-top: 56px; margin-left: 416px; }
  .magazine.budge::after { margin-top: 56px; margin-left: 416px; }
}
@media only screen and (min-width: 768px) {
  .magazine .inner::after { content: ""; background: rgba(0, 0, 0, 0) url("urn:not-loaded:file:///C:/Users/Administrator/Desktop/Girls%20Coding%20Days/Website_example/%E3%80%8CPhotoZINE%EF%BC%88%E3%83%95%E3%82%A9%E3%83%88%E3%82%B8%E3%83%B3%EF%BC%89%E3%80%8D%E3%81%A7%E3%82%A2%E3%83%AB%E3%83%90%E3%83%A0%E3%83%BB%E4%BD%9C%E5%93%81%E9%9B%86%E4%BD%9C%E3%82%8A%EF%BD%9C%E3%83%95%E3%82%B8%E3%83%95%E3%82%A4%E3%83%AB%E3%83%A0%E3%81%AE%E3%83%95%E3%82%A9%E3%83%88%E3%83%96%E3%83%83%E3%82%AF_files/line_8.gif") repeat-x scroll 0px -4px / 317px auto; position: absolute; top: -6px; left: 0px; right: 0px; height: 4px; z-index: 0; }
}
.magazine h4::before { content: attr(data-text); font-family: "游ゴシック体","Yu Gothic",YuGothic,Helvetica,Arial,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,sans-serif; font-size: 12px; text-align: center; position: absolute; left: 0px; right: 0px; top: -62px; border: 1px solid rgb(34, 34, 34); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; padding: 15px 0px; letter-spacing: 0px; font-weight: normal; z-index: 1; }
.magazine h4::after { content: ""; width: 10px; height: 8px; background: rgba(0, 0, 0, 0) url("urn:not-loaded:file:///C:/Users/Administrator/Desktop/Girls%20Coding%20Days/Website_example/%E3%80%8CPhotoZINE%EF%BC%88%E3%83%95%E3%82%A9%E3%83%88%E3%82%B8%E3%83%B3%EF%BC%89%E3%80%8D%E3%81%A7%E3%82%A2%E3%83%AB%E3%83%90%E3%83%A0%E3%83%BB%E4%BD%9C%E5%93%81%E9%9B%86%E4%BD%9C%E3%82%8A%EF%BD%9C%E3%83%95%E3%82%B8%E3%83%95%E3%82%A4%E3%83%AB%E3%83%A0%E3%81%AE%E3%83%95%E3%82%A9%E3%83%88%E3%83%96%E3%83%83%E3%82%AF_files/fukidashi.png") no-repeat scroll left top / cover ; position: absolute; top: -19px; left: 213px; z-index: 2; }
@media only screen and (min-width: 768px) {
  .magazine h4::before { width: 336px; right: auto; left: 0px; top: -86px; font-size: 14px; padding: 20px 0px; }
  .magazine h4::after { top: -31px; left: 265px; }
}
@media only screen and (min-width: 768px) {
  #make .btn:hover::after { color: rgb(255, 255, 255); }
}
#make .btn::after { content: attr(data-text); font-size: 12px; text-align: center; position: absolute; z-index: 0; bottom: 15px; width: 100%; margin-left: -10px; left: 0px; }
@media only screen and (min-width: 768px) {
  #make .btn::after { transition: all 0.25s ease 0s; }
}
@media only screen and (min-width: 768px) {
  #order nav ul li:nth-child(4) a { color: rgb(32, 216, 201); }
  #order nav ul li:nth-child(4) a::after { background: rgb(32, 216, 201) url("icon_book_on.png") no-repeat scroll center center / cover ; }
  #order .sticky ul li:nth-child(4) a { color: rgb(32, 216, 201); }
  #order .sticky ul li:nth-child(4) a::after { background: rgb(32, 216, 201) url("icon_book_on.png") no-repeat scroll center center / cover ; }
}
@media only screen and (min-width: 768px) {
  .sub_nav::after { content: ""; height: 8px; background: rgb(255, 255, 255) url("urn:not-loaded:file:///C:/Users/Administrator/Desktop/Girls%20Coding%20Days/Website_example/%E3%80%8CPhotoZINE%EF%BC%88%E3%83%95%E3%82%A9%E3%83%88%E3%82%B8%E3%83%B3%EF%BC%89%E3%80%8D%E3%81%A7%E3%82%A2%E3%83%AB%E3%83%90%E3%83%A0%E3%83%BB%E4%BD%9C%E5%93%81%E9%9B%86%E4%BD%9C%E3%82%8A%EF%BD%9C%E3%83%95%E3%82%B8%E3%83%95%E3%82%A4%E3%83%AB%E3%83%A0%E3%81%AE%E3%83%95%E3%82%A9%E3%83%88%E3%83%96%E3%83%83%E3%82%AF_files/line_8.gif") repeat-x scroll center top / 317px auto; position: absolute; top: 0px; left: 48px; right: 48px; }
}
.sub_nav a::after { transform: rotate(90deg) translate(1px, 1px); }
@media only screen and (min-width: 768px) {
  .thum_box li:nth-child(2), .thum_box li:nth-child(5) { margin: 0px 45px 50px; }
}
.price_table table tr:nth-child(2) td { line-height: 1.5; padding: 4px 3px 0px; }
@media only screen and (min-width: 768px) {
  #scene_book::after { content: ""; height: 1px; background: rgb(34, 34, 34) none repeat scroll 0% 0%; position: absolute; top: 0px; left: 48px; right: 48px; z-index: 0; }
}
.lower_first.order::after { content: ""; width: 187px; height: 139px; background: rgba(0, 0, 0, 0) url("urn:not-loaded:http://f-photobook.jp/photozine/img/order/flow_photo.png") no-repeat scroll center center / cover ; position: absolute; top: 80px; right: -16px; z-index: 0; }
@media only screen and (min-width: 768px) {
  .lower_first.order::after { width: 297px; height: 221px; right: auto; left: 50%; margin-left: 136px; top: -20px; }
}
.lower_first.order .headline__FG::after { content: attr(data-text); position: absolute; font-size: 12px; bottom: -24px; left: 0px; letter-spacing: 0px; }
@media only screen and (min-width: 768px) {
  .lower_first.order .headline__FG::after { font-size: 14px; }
}
.flow_boxes::after { content: ""; background: rgb(34, 34, 34) none repeat scroll 0% 0%; height: 1px; position: absolute; width: 100%; left: 0px; bottom: 3px; }
.flow_boxes li::before { content: ""; position: absolute; width: 3px; height: 9px; background: rgb(34, 34, 34) none repeat scroll 0% 0%; left: 0px; right: 0px; margin: 0px auto; bottom: -3px; }
@media only screen and (min-width: 768px) {
  .flow_boxes li::before { width: 18px; height: 6px; right: -6px; left: auto; top: 50%; margin: 0px; }
}
.flow_boxes li::after { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 7px 6px 0px; border-color: rgb(34, 34, 34) transparent transparent; left: 0px; right: 0px; margin: 0px auto; bottom: -10px; }
@media only screen and (min-width: 768px) {
  .flow_boxes li::after { width: 0px; height: 0px; border-style: solid; border-width: 12px 0px 12px 14px; border-color: transparent transparent transparent rgb(34, 34, 34); right: -20px; left: auto; top: 50%; bottom: auto; margin-top: -9px; }
}
.flow_boxes li:last-child::before, .flow_boxes li:last-child::after { display: none; }
.flow_boxes li:nth-child(2) { background: rgb(154, 237, 231) none repeat scroll 0% 0%; }
.flow_boxes li:nth-child(3) { background: rgb(99, 228, 217) none repeat scroll 0% 0%; }
.flow_boxes li:nth-child(3) .step { color: rgb(255, 255, 255); }
.flow_boxes li:nth-child(4) { background: rgb(32, 216, 201) none repeat scroll 0% 0%; }
.flow_boxes li:nth-child(4) .step { color: rgb(255, 255, 255); }
.select_box label::after { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 7px 4.5px 0px; border-color: rgb(34, 34, 34) transparent transparent; position: absolute; right: 11px; top: 50%; margin-top: -8px; }
#point_order h4::before { content: attr(data-text); font-family: "游ゴシック体","Yu Gothic",YuGothic,Helvetica,Arial,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,sans-serif; font-size: 12px; text-align: center; position: absolute; left: 0px; right: 0px; top: -62px; border: 1px solid rgb(34, 34, 34); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; padding: 15px 0px; letter-spacing: 0px; font-weight: normal; z-index: 1; width: 92px; }
@media only screen and (min-width: 768px) {
  #point_order h4::before { font-size: 14px; padding: 15px 30px; width: 136px; top: -74px; }
}
#point_order h4::after { content: ""; width: 10px; height: 8px; background: rgba(0, 0, 0, 0) url("urn:not-loaded:file:///C:/Users/Administrator/Desktop/Girls%20Coding%20Days/Website_example/%E3%80%8CPhotoZINE%EF%BC%88%E3%83%95%E3%82%A9%E3%83%88%E3%82%B8%E3%83%B3%EF%BC%89%E3%80%8D%E3%81%A7%E3%82%A2%E3%83%AB%E3%83%90%E3%83%A0%E3%83%BB%E4%BD%9C%E5%93%81%E9%9B%86%E4%BD%9C%E3%82%8A%EF%BD%9C%E3%83%95%E3%82%B8%E3%83%95%E3%82%A4%E3%83%AB%E3%83%A0%E3%81%AE%E3%83%95%E3%82%A9%E3%83%88%E3%83%96%E3%83%83%E3%82%AF_files/fukidashi.png") no-repeat scroll left top / cover ; position: absolute; top: -13px; left: 40px; z-index: 2; }
@media only screen and (min-width: 768px) {
  #point_order h4::after { left: 66px; top: -22px; }
}
#point_order h5::before { content: "Point"; font-size: 13px; font-weight: normal; color: rgb(153, 153, 153); position: absolute; top: 0px; left: 0px; }
#point_order h5::after { content: attr(data-text); width: 32px; height: 32px; background: rgb(255, 242, 0) none repeat scroll 0% 0%; font-size: 22px; font-family: "Cabin Sketch",cursive; font-weight: normal; color: rgb(34, 34, 34); text-align: center; position: absolute; left: 0px; top: 24px; border-radius: 50%; line-height: 1.6; }
#point_order .points__box:last-child::after { content: ""; width: 100%; height: 8px; background: rgba(0, 0, 0, 0) url("urn:not-loaded:file:///C:/Users/Administrator/Desktop/Girls%20Coding%20Days/Website_example/%E3%80%8CPhotoZINE%EF%BC%88%E3%83%95%E3%82%A9%E3%83%88%E3%82%B8%E3%83%B3%EF%BC%89%E3%80%8D%E3%81%A7%E3%82%A2%E3%83%AB%E3%83%90%E3%83%A0%E3%83%BB%E4%BD%9C%E5%93%81%E9%9B%86%E4%BD%9C%E3%82%8A%EF%BD%9C%E3%83%95%E3%82%B8%E3%83%95%E3%82%A4%E3%83%AB%E3%83%A0%E3%81%AE%E3%83%95%E3%82%A9%E3%83%88%E3%83%96%E3%83%83%E3%82%AF_files/line_8.gif") repeat-x scroll center top / 317px auto; position: absolute; bottom: -10px; left: 0px; }
@media only screen and (min-width: 768px) {
  #point_order .points__box::after { content: ""; height: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; left: 80px; right: 80px; bottom: 0px; position: absolute; }
  #point_order .points__box:nth-child(1) h5 { margin-top: 35px; }
  #point_order .points__box:nth-child(2) h5 { margin-top: 33px; }
  #point_order .points__box:nth-child(3) h5 { margin-top: 55px; }
  #point_order .points__box:nth-child(4) h5 { margin-top: 70px; }
}
@media only screen and (min-width: 768px) {
  #magazine #make .btn::after { bottom: 4px; }
}
#magazine #bnrbox ul a::before { top: auto; margin-top: 0px; bottom: 8px; right: 8px; }
#magazine #bnrbox ul a::after { top: auto; margin-top: 0px; bottom: 14px; right: 14px; }
@media only screen and (min-width: 768px) {
  #magazine #bnrbox ul a::before { width: 24px; height: 24px; bottom: 20px; right: 20px; }
  #magazine #bnrbox ul a::after { border-width: 5px 0px 5px 7px; bottom: 26px; right: 27px; }
}
#store .lower_first .locality_nav::before { content: ""; position: absolute; width: 115px; height: 100px; background: rgba(0, 0, 0, 0) url("urn:not-loaded:http://f-photobook.jp/photozine/img/store/store_visual.jpg") no-repeat scroll left top / cover ; top: -90px; right: -15px; margin-right: 20px; z-index: 0; }
@media only screen and (min-width: 768px) {
  #store .lower_first .locality_nav::before { width: 230px; height: 202px; top: -175px; }
}
#store .lower_first .locality_nav a::after { transform: rotate(90deg); }
@media only screen and (min-width: 768px) {
  #store .lower_first .locality_nav a::before { width: 18px; height: 18px; right: 9px; margin-top: -9px; }
  #store .lower_first .locality_nav a::after { transform: rotate(90deg); border-width: 3px 0px 3px 5px; margin-top: -2px; right: 15px; }
}
#store .prefecture_list li a::after { transform: rotate(90deg); }
@media only screen and (min-width: 768px) {
  #store .prefecture_list li a::before { width: 18px; height: 18px; right: 9px; margin-top: -9px; }
  #store .prefecture_list li a::after { transform: rotate(90deg); border-width: 3px 0px 3px 5px; margin-top: -2px; right: 15px; }
}
#store .prefecture_list li:nth-child(2n) a { border-left: 2px solid rgb(255, 255, 255); }
#store .town_list dd a:nth-child(2n) { border-left: 2px solid rgb(255, 255, 255); }
@media only screen and (min-width: 768px) {
  #store .town_list dd a:nth-child(8n+1) { border-left: medium none; }
}
#store .town_list dd a::after { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; border-width: 4px 0px 4px 6px; border-color: transparent transparent transparent rgb(0, 0, 0); right: 21px; top: 50%; margin-top: -3px; transform: rotate(90deg); }
@media only screen and (min-width: 768px) {
  #store .town_list dd a::after { right: 13px; }
}
@media only screen and (min-width: 768px) {
  #store .store_list .tit_tr th:nth-child(1) { width: 436px; }
  #store .store_list .tit_tr th:nth-child(2) { width: 552px; }
  #store .store_list .tit_tr th:nth-child(3) { border-right: medium none; }
}
#store .store_list .btn a::before { display: none; }
#store .store_list .btn a::after { border-style: solid; border-width: 3.5px 0px 3.5px 5px; border-color: transparent transparent transparent rgb(0, 0, 0); right: 8px; }
@media only screen and (min-width: 768px) {
  #store .store_list .btn a::after { margin-top: -3px; }
}
@media only screen and (min-width: 768px) {
  #store .store_list tr td:nth-child(1) { width: 436px; }
  #store .store_list tr td:nth-child(2) { padding-right: 65px; width: 552px; }
  #store .store_list tr td:nth-child(3) { width: 128px; border-right: medium none; text-align: center; }
  #store .store_list tr td:nth-child(3) a { text-decoration: none; }
}
#store .store_list tr td:nth-child(1) { font-weight: bold; }
@media only screen and (min-width: 768px) {
  #store .store_list tr td:nth-child(1) { font-weight: normal; }
}
